html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

body {
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Override toast styles */
.Toastify__toast {
  font-family: var(--font-poppins), sans-serif;
}

.Toastify__toast--success {
  background-color: #10b981;
  color: white;
}

.Toastify__toast--error {
  background-color: #ef4444;
  color: white;
}

.Toastify__toast--info {
  background-color: #3b82f6;
  color: white;
}

.Toastify__toast--warning {
  background-color: #f59e0b;
  color: white;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
